@media screen and (max-width: 999px) {
  header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  #logo-a {
    display: flex;
    width: fit-content !important;
  }

  #logogo {
    width: 155px;
    height: 57.5px;
    margin: 0;
  }

  #btn-mobile {
    display: flex;
    position: absolute;
    right: 5%;
    z-index: 5;
    top: 40%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  body {
    padding: 0;
  }

  #menu {
    display: block; /* para mostrar o menu */
    position: absolute;
    width: 100%;
    top: 110%;
    right: 0;
    left: 0;
    background-color: #0c5267;
    height: 0px;
    transition: 0.6s;
    z-index: 1000; /* Garante que o menu versão mobile vai ficar por cima de todos que estão na tela */
    overflow-y: hidden; /* propriedade que determina o conteúdo que será exibido enquanto eixo y (altura) - renderizando ou não uma barra de rolagem*/
  }

  #nav.active #menu {
    /* Quando o nav estiver ativo - as seguinte propriedades serão aplicadas ao menu*/
    height: calc(100vh - 115px);
    visibility: visible; /* propriedade que determina o elemento como visível */
    overflow-y: auto; /* para caso o menu tenha mais itens, a barra de rolagem aparecer automaticamente */
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 2rem;
    margin: 0;
  }

  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
    color: white;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor; /* currentColor copia para outras propriedades do mesmo seletor o valor da propriedade color*/
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  body {
    overflow: auto;
  }

  .conteudo {
    width: 100%;
    margin-top: 2rem;
    padding: 0 4rem;
  }

  h1,
  #p1,
  p {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
  }

  .main-imagem {
    width: 100%;
    padding: 0 4rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #img-ilustration {
    position: relative;
    top: 0;
    left: 0;
    max-width: 800px;
    max-height: 400px;
  }

  .bbbs {
    right: 2%;
    bottom: -30%;
    max-width: 80px;
  }

  .bbbs img {
    width: 100%;
    height: 100%;
  }
}
